# Multiple Linear Regression
We begin by loading the required libraries.

In [4]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import sys

Considering subset of the entire dataset focused on people living in California above the age of 65:

In [5]:
df=pd.read_csv('Data/elderly-ppl-CA.csv')
df.head()

,Unnamed: 0,age,gender,state,income,education,high_speed_internet_users,technology_and_connectivity__online_gamers,technology_and_connectivity__stream_music,technology_and_connectivity__science_&_new_tech_enthusiasts,...,chlamydia,gential_warts,gonorrhea,herpes,hpv,other_std,parasitic,std_screen,syphilis,trich
0,6010,65-74 years old,Male,California,"$190,000 - $199,999",High School,medium,0.057847,0.048718,0.171325,...,NaN,NaN,NaN,NaN,0.428571,NaN,NaN,1.000000,NaN,NaN
1,6011,65-74 years old,Male,California,"$190,000 - $199,999",High School,medium,0.057847,0.048718,0.171325,...,NaN,NaN,NaN,0.500000,0.500000,0.500000,NaN,1.166667,NaN,NaN
2,6012,65-74 years old,Male,California,"$190,000 - $199,999",High School,medium,0.057847,0.048718,0.171325,...,NaN,NaN,NaN,NaN,0.333333,0.333333,NaN,0.666667,NaN,0.333333
3,6013,65-74 years old,Male,California,"$190,000 - $199,999",High School,medium,0.057847,0.048718,0.171325,...,NaN,NaN,NaN,0.363636,0.272727,NaN,NaN,0.727273,NaN,NaN
4,6014,65-74 years old,Male,California,"$190,000 - $199,999",High School,medium,0.057847,0.048718,0.171325,...,NaN,0.333333,NaN,0.333333,NaN,0.444444,NaN,1.222222,0.333333,0.333333

Using just the columns with categorical variables:

In [6]:
obj_df=df.select_dtypes(include=['object']).copy()
obj_df=obj_df.drop('date',axis=1)
string_cols=obj_df.columns
string_cols=list(string_cols)
print(string_cols)

['age', 'gender', 'state', 'income', 'education', 'high_speed_internet_users', 'wearable_technology_and_connectivity_users', 'smart_phone_users', 'restaurant_app_users', 'services_software_and_online_services_frequency', 'services_software_and_online_services_spend', 'restaurants_sit_down_casual_dining_frequency', 'restaurants_sit_down_casual_dining_spend', 'restaurants_sit_down_upscale_dining_frequency', 'restaurants_sit_down_upscale_dining_spend', 'restaurants_fast_casual_dining_frequency', 'restaurants_fast_casual_dining_spend', 'entertainment_movies_frequency', 'entertainment_movies_spend', 'services_ride_sharing_spend', 'services_ride_sharing_frequency', 'coffee_enthusiasts']

Performing one-hot encoding for these predictors:

In [12]:
#one-hot encoding for these
final_df=pd.concat([df,pd.get_dummies(df[string_cols])],axis=1)

#convert dates to datetimes
final_df['date']=final_df['date'].astype('datetime64[ns]')

# print statement used for debugging 
#print(list(final_df.columns))
#print(list(final_df.dtypes))

We can now perform a multiple linear regression on each std:

In [8]:
# first get lists of dependent and independent variables

#dependent vars
std_list=['chlamydia','gential_warts','gonorrhea','herpes','hpv',
          'other_std','parasitic','syphilis','trich']

#independent vars
age_vars=['age_65-74 years old','age_75+ years old']
gender_vars=['gender_Female','gender_Male']
income_vars=list(final_df['income'].unique())
for i in range(len(income_vars)):
    temp=income_vars[i]
    temp2='income_'+temp
    income_vars[i]=temp2
education_vars=list(final_df['education'].unique())
for i in range(len(education_vars)):
    temp=education_vars[i]
    temp2='education_'+temp
    education_vars[i]=temp2

In [9]:
total_list=list(income_vars+education_vars+gender_vars)
arr=np.array(np.zeros((len(std_list),len(total_list))))

for i in range(len(std_list)):
    std=std_list[i]
    y=final_df[std]
    X=final_df[gender_vars+income_vars+education_vars]
    est=sm.OLS(y,X,missing='drop').fit()
    arr[i,:]=est.pvalues
    #print(est.summary()
for i in range(len(std_list)):
    std=std_list[i]
    for j in range(len(total_list)):
        var=total_list[j]
        print('\t'+ std + '\t'+var+ '\t'+ str(arr[i,j]))
alpha=0.05
bonferroni_p=alpha/len(list(income_vars+education_vars+gender_vars))
print(bonferroni_p)

	chlamydia	income_$190,000 - $199,999	2.1387551023983e-310
	chlamydia	income_$40,000 - $44,999	0.0
	chlamydia	income_$35,000 - $39,999	0.10876661412952421
	chlamydia	income_$170,000 - $179,999	0.002857892008171813
	chlamydia	income_$95,000 - $99,999	0.00013548369705892966
	chlamydia	income_$45,000 - $49,999	0.0015699311522930778
	chlamydia	income_$135,000 - $139,999	2.2284675438336647e-06
	chlamydia	income_$50,000 - $54,999	2.954461207793147e-35
	chlamydia	income_$105,000 - $109,999	0.12357981264686511
	chlamydia	income_$65,000 - $69,999	2.644902394319093e-22
	chlamydia	income_Less than $14,999	2.4797416302333314e-10
	chlamydia	income_$55,000 - $59,999	0.002566982973741658
	chlamydia	income_$85,000 - $89,999	3.2339803734722264e-27
	chlamydia	income_$140,000 - $144,999	0.0065792624243179824
	chlamydia	income_$150,000 - $159,999	0.4740148091052664
	chlamydia	income_$225,000 - $249,999	0.45103195231351334
	chlamydia	income_$90,000 - $94,999	1.2539925743558806e-16
	chlamydia	income_$180,000 - $189,999	0.4321020666024481
	chlamydia	income_$200,000 - $224,999	0.13462311385132705
	chlamydia	income_$75,000 - $79,999	0.737635327893664
	chlamydia	income_$250,000 or more	9.783849413064822e-05
	chlamydia	income_$125,000 - $129,999	7.425161729343907e-07
	chlamydia	income_$70,000 - $74,999	4.1933775687362515e-24
	chlamydia	income_$145,000 - $149,999	0.23765187369632343
	chlamydia	income_$60,000 - $64,999	1.214782489561522e-30
	chlamydia	income_$80,000 - $84,999	0.567004904944707
	chlamydia	income_$115,000 - $119,999	0.6358707998405639
	chlamydia	income_$160,000 - $169,999	0.42279265672336797
	chlamydia	income_$25,000 - $29,999	0.59324474529695
	chlamydia	income_$100,000 - $104,999	5.3299461540808434e-14
	chlamydia	income_$20,000 - $24,999	0.008708330255829273
	chlamydia	income_$130,000 - $134,999	1.0999060562518672e-08
	chlamydia	income_$15,000 - $19,999	3.7397149667427805e-32
	chlamydia	income_$120,000 - $124,999	0.21292046319585128
	chlamydia	income_$30,000 - $34,999	1.0340810224277293e-08
	chlamydia	income_$110,000 - $114,999	0.42967475790621656
	chlamydia	education_High School	5.153711792731097e-26
	chlamydia	education_Some College	1.3912094905520802e-11
	chlamydia	education_Some High School or Less	0.500277821664432
	chlamydia	education_College	2.828733272758933e-07
	chlamydia	education_Graduate School	7.308292056347151e-26
	chlamydia	gender_Female	0.06394770050391112
	chlamydia	gender_Male	4.342520828326249e-137
	gential_warts	income_$190,000 - $199,999	0.0
	gential_warts	income_$40,000 - $44,999	0.0
	gential_warts	income_$35,000 - $39,999	0.008230226634078342
	gential_warts	income_$170,000 - $179,999	0.011287425920682414
	gential_warts	income_$95,000 - $99,999	1.0686881335426513e-06
	gential_warts	income_$45,000 - $49,999	1.7163246677306897e-15
	gential_warts	income_$135,000 - $139,999	8.734915714050156e-13
	gential_warts	income_$50,000 - $54,999	6.91869286007912e-42
	gential_warts	income_$105,000 - $109,999	0.6773002360640961
	gential_warts	income_$65,000 - $69,999	2.3106299030987696e-17
	gential_warts	income_Less than $14,999	2.2637131005400243e-15
	gential_warts	income_$55,000 - $59,999	3.2129165505291455e-08
	gential_warts	income_$85,000 - $89,999	5.3293054808265343e-20
	gential_warts	income_$140,000 - $144,999	0.1427344430544496
	gential_warts	income_$150,000 - $159,999	0.01795063783999126
	gential_warts	income_$225,000 - $249,999	0.10939256397937441
	gential_warts	income_$90,000 - $94,999	6.188140822359679e-39
	gential_warts	income_$180,000 - $189,999	0.05581512148769999
	gential_warts	income_$200,000 - $224,999	0.046136862398674976
	gential_warts	income_$75,000 - $79,999	0.24581760778343004
	gential_warts	income_$250,000 or more	0.6099882809382355
	gential_warts	income_$125,000 - $129,999	4.1094918895287166e-12
	gential_warts	income_$70,000 - $74,999	5.84165764317756e-16
	gential_warts	income_$145,000 - $149,999	0.685470425152739
	gential_warts	income_$60,000 - $64,999	2.3733401987196847e-37
	gential_warts	income_$80,000 - $84,999	0.08700478837803971
	gential_warts	income_$115,000 - $119,999	0.15606769930947878
	gential_warts	income_$160,000 - $169,999	0.22384108212696704
	gential_warts	income_$25,000 - $29,999	9.758088803431176e-13
	gential_warts	income_$100,000 - $104,999	2.888177421276553e-17
	gential_warts	income_$20,000 - $24,999	0.0022933111493373434
	gential_warts	income_$130,000 - $134,999	1.5939512911184255e-26
	gential_warts	income_$15,000 - $19,999	3.101933554806176e-29
	gential_warts	income_$120,000 - $124,999	0.13079119963933725
	gential_warts	income_$30,000 - $34,999	4.090436116538227e-09
	gential_warts	income_$110,000 - $114,999	0.7673224731318677
	gential_warts	education_High School	7.485157038850048e-31
	gential_warts	education_Some College	3.198038017480989e-09
	gential_warts	education_Some High School or Less	5.5323114403396895e-12
	gential_warts	education_College	4.9934094156078133e-14
	gential_warts	education_Graduate School	4.9415077274058117e-48
	gential_warts	gender_Female	0.03140743710448413
	gential_warts	gender_Male	0.0
	gonorrhea	income_$190,000 - $199,999	0.0
	gonorrhea	income_$40,000 - $44,999	0.0
	gonorrhea	income_$35,000 - $39,999	0.14331806053505797
	gonorrhea	income_$170,000 - $179,999	0.0009477151701751836
	gonorrhea	income_$95,000 - $99,999	0.0412116333359502
	gonorrhea	income_$45,000 - $49,999	0.14960914755310104
	gonorrhea	income_$135,000 - $139,999	1.484986136737038e-09
	gonorrhea	income_$50,000 - $54,999	6.376986546881548e-28
	gonorrhea	income_$105,000 - $109,999	0.2058035107604939
	gonorrhea	income_$65,000 - $69,999	7.94582213069294e-14
	gonorrhea	income_Less than $14,999	2.8615970384418254e-11
	gonorrhea	income_$55,000 - $59,999	0.002371534637629715
	gonorrhea	income_$85,000 - $89,999	3.7900887439639663e-13
	gonorrhea	income_$140,000 - $144,999	0.39096966844627234
	gonorrhea	income_$150,000 - $159,999	0.2720530123224089
	gonorrhea	income_$225,000 - $249,999	0.6214881592410633
	gonorrhea	income_$90,000 - $94,999	5.637498745756515e-23
	gonorrhea	income_$180,000 - $189,999	0.00046731448087954927
	gonorrhea	income_$200,000 - $224,999	0.24540139342788517
	gonorrhea	income_$75,000 - $79,999	0.10323606792670473
	gonorrhea	income_$250,000 or more	0.02553443018024339
	gonorrhea	income_$125,000 - $129,999	3.278204875379678e-09
	gonorrhea	income_$70,000 - $74,999	8.753994952572212e-25
	gonorrhea	income_$145,000 - $149,999	0.4822545901562211
	gonorrhea	income_$60,000 - $64,999	6.251960239013447e-30
	gonorrhea	income_$80,000 - $84,999	0.06119743870321906
	gonorrhea	income_$115,000 - $119,999	0.16191636463006512
	gonorrhea	income_$160,000 - $169,999	0.5052715826006993
	gonorrhea	income_$25,000 - $29,999	0.008400272772994656
	gonorrhea	income_$100,000 - $104,999	6.923514429189471e-09
	gonorrhea	income_$20,000 - $24,999	8.140992810400819e-05
	gonorrhea	income_$130,000 - $134,999	2.6962693306828215e-16
	gonorrhea	income_$15,000 - $19,999	3.312165381652495e-34
	gonorrhea	income_$120,000 - $124,999	0.7456559113198429
	gonorrhea	income_$30,000 - $34,999	2.6832700765232477e-08
	gonorrhea	income_$110,000 - $114,999	0.006201846635472822
	gonorrhea	education_High School	4.773470856166458e-21
	gonorrhea	education_Some College	0.00034068942195356186
	gonorrhea	education_Some High School or Less	0.2669956096034439
	gonorrhea	education_College	2.38016178106239e-12
	gonorrhea	education_Graduate School	4.067407917985848e-19
	gonorrhea	gender_Female	0.22747755354069596
	gonorrhea	gender_Male	3.559899354612115e-178
	herpes	income_$190,000 - $199,999	0.0
	herpes	income_$40,000 - $44,999	0.0
	herpes	income_$35,000 - $39,999	0.6997216445649548
	herpes	income_$170,000 - $179,999	0.02330088048772178
	herpes	income_$95,000 - $99,999	1.3658958013096738e-06
	herpes	income_$45,000 - $49,999	1.8938155496350385e-11
	herpes	income_$135,000 - $139,999	0.2073203217144724
	herpes	income_$50,000 - $54,999	3.2166810121022874e-11
	herpes	income_$105,000 - $109,999	5.445555827913e-09
	herpes	income_$65,000 - $69,999	1.8255099350804667e-06
	herpes	income_Less than $14,999	8.063213410473126e-14
	herpes	income_$55,000 - $59,999	1.4270573219077987e-08
	herpes	income_$85,000 - $89,999	0.007411836245329707
	herpes	income_$140,000 - $144,999	0.10181835570184135
	herpes	income_$150,000 - $159,999	0.7947386201615365
	herpes	income_$225,000 - $249,999	0.7062312442431029
	herpes	income_$90,000 - $94,999	1.2378803418172255e-32
	herpes	income_$180,000 - $189,999	0.05875801666541297
	herpes	income_$200,000 - $224,999	0.028410738559747965
	herpes	income_$75,000 - $79,999	0.23722749615563715
	herpes	income_$250,000 or more	3.4961292130693447e-06
	herpes	income_$125,000 - $129,999	1.2176136143223365e-05
	herpes	income_$70,000 - $74,999	2.7553077584446043e-06
	herpes	income_$145,000 - $149,999	0.30553597465962584
	herpes	income_$60,000 - $64,999	1.378149662161596e-09
	herpes	income_$80,000 - $84,999	0.6936676704414562
	herpes	income_$115,000 - $119,999	0.07015978856136153
	herpes	income_$160,000 - $169,999	0.953012458167255
	herpes	income_$25,000 - $29,999	0.0002885428817036107
	herpes	income_$100,000 - $104,999	3.0002359031544132e-27
	herpes	income_$20,000 - $24,999	0.003987157012824109
	herpes	income_$130,000 - $134,999	1.6440533884084298e-17
	herpes	income_$15,000 - $19,999	2.111215814206929e-12
	herpes	income_$120,000 - $124,999	0.1535837579679376
	herpes	income_$30,000 - $34,999	0.014882996338301122
	herpes	income_$110,000 - $114,999	0.000746648767790691
	herpes	education_High School	2.2122824860564472e-12
	herpes	education_Some College	1.7201566718053627e-08
	herpes	education_Some High School or Less	6.164260892601698e-111
	herpes	education_College	2.2487247515851785e-14
	herpes	education_Graduate School	3.9249463310671655e-140
	herpes	gender_Female	4.7774350536347074e-80
	herpes	gender_Male	0.0
	hpv	income_$190,000 - $199,999	0.0
	hpv	income_$40,000 - $44,999	0.0
	hpv	income_$35,000 - $39,999	0.2866987054446422
	hpv	income_$170,000 - $179,999	4.1832514249612045e-07
	hpv	income_$95,000 - $99,999	9.60415729580246e-11
	hpv	income_$45,000 - $49,999	2.958059362721453e-14
	hpv	income_$135,000 - $139,999	3.158094633226531e-11
	hpv	income_$50,000 - $54,999	3.779487172564309e-33
	hpv	income_$105,000 - $109,999	0.1717776038167496
	hpv	income_$65,000 - $69,999	4.2778065058145354e-18
	hpv	income_Less than $14,999	2.673416590311972e-09
	hpv	income_$55,000 - $59,999	1.6764230712569379e-12
	hpv	income_$85,000 - $89,999	1.0485757758261063e-09
	hpv	income_$140,000 - $144,999	0.006064827201858539
	hpv	income_$150,000 - $159,999	0.009417035500697916
	hpv	income_$225,000 - $249,999	0.39367134716953045
	hpv	income_$90,000 - $94,999	6.995394898783832e-42
	hpv	income_$180,000 - $189,999	0.0023764018352309146
	hpv	income_$200,000 - $224,999	0.022785779081029262
	hpv	income_$75,000 - $79,999	0.11676377984521664
	hpv	income_$250,000 or more	0.398520664489569
	hpv	income_$125,000 - $129,999	2.8121258239001995e-09
	hpv	income_$70,000 - $74,999	2.964268576683056e-19
	hpv	income_$145,000 - $149,999	7.230643012459966e-11
	hpv	income_$60,000 - $64,999	5.6945158124328006e-33
	hpv	income_$80,000 - $84,999	0.7517129099122372
	hpv	income_$115,000 - $119,999	0.9423348019036181
	hpv	income_$160,000 - $169,999	0.13427952495043555
	hpv	income_$25,000 - $29,999	2.9176191043159636e-11
	hpv	income_$100,000 - $104,999	9.26834486123002e-54
	hpv	income_$20,000 - $24,999	5.519056414712545e-05
	hpv	income_$130,000 - $134,999	2.556473809956541e-44
	hpv	income_$15,000 - $19,999	7.326358430570751e-39
	hpv	income_$120,000 - $124,999	0.0571150519836564
	hpv	income_$30,000 - $34,999	1.2983950663534151e-08
	hpv	income_$110,000 - $114,999	0.007244200045021254
	hpv	education_High School	1.1480312813042738e-30
	hpv	education_Some College	1.1610888016984237e-11
	hpv	education_Some High School or Less	3.93147926213224e-27
	hpv	education_College	1.2661488055720034e-11
	hpv	education_Graduate School	4.6229817689058917e-175
	hpv	gender_Female	0.004848243513584635
	hpv	gender_Male	0.0
	other_std	income_$190,000 - $199,999	0.0
	other_std	income_$40,000 - $44,999	0.0
	other_std	income_$35,000 - $39,999	0.29933029399484873
	other_std	income_$170,000 - $179,999	0.026121710562428287
	other_std	income_$95,000 - $99,999	9.454501014202727e-07
	other_std	income_$45,000 - $49,999	2.295950404154662e-12
	other_std	income_$135,000 - $139,999	9.896800241163826e-11
	other_std	income_$50,000 - $54,999	1.2634124563831267e-32
	other_std	income_$105,000 - $109,999	0.3577568907076061
	other_std	income_$65,000 - $69,999	1.5179150089771268e-17
	other_std	income_Less than $14,999	4.132931088220164e-23
	other_std	income_$55,000 - $59,999	1.150076480854887e-10
	other_std	income_$85,000 - $89,999	1.353814560907524e-11
	other_std	income_$140,000 - $144,999	0.03361540291465907
	other_std	income_$150,000 - $159,999	0.7557199870178505
	other_std	income_$225,000 - $249,999	0.7051904980938908
	other_std	income_$90,000 - $94,999	6.6221243982095e-72
	other_std	income_$180,000 - $189,999	0.1379602087876792
	other_std	income_$200,000 - $224,999	0.18342027413083903
	other_std	income_$75,000 - $79,999	0.4745001634811413
	other_std	income_$250,000 or more	0.45344196182791097
	other_std	income_$125,000 - $129,999	3.7300998691340705e-16
	other_std	income_$70,000 - $74,999	3.3460657451339415e-17
	other_std	income_$145,000 - $149,999	0.03184620820845025
	other_std	income_$60,000 - $64,999	6.801435182128182e-34
	other_std	income_$80,000 - $84,999	0.5433473763431396
	other_std	income_$115,000 - $119,999	0.044892121419513764
	other_std	income_$160,000 - $169,999	0.04533705334120464
	other_std	income_$25,000 - $29,999	1.15573828543079e-06
	other_std	income_$100,000 - $104,999	4.431051327849729e-43
	other_std	income_$20,000 - $24,999	0.0018304280306701145
	other_std	income_$130,000 - $134,999	7.605809237039715e-37
	other_std	income_$15,000 - $19,999	3.3213432233106383e-28
	other_std	income_$120,000 - $124,999	0.4194438500183113
	other_std	income_$30,000 - $34,999	1.3697692926030925e-06
	other_std	income_$110,000 - $114,999	0.08688428022113645
	other_std	education_High School	3.455950403516584e-25
	other_std	education_Some College	2.8796699686763692e-15
	other_std	education_Some High School or Less	2.3277918897608206e-53
	other_std	education_College	1.4700207191599945e-05
	other_std	education_Graduate School	1.263953553975712e-155
	other_std	gender_Female	0.0026040174196576087
	other_std	gender_Male	0.0
	parasitic	income_$190,000 - $199,999	0.06134757452100381
	parasitic	income_$40,000 - $44,999	0.061347574520999544
	parasitic	income_$35,000 - $39,999	0.061347574520988046
	parasitic	income_$170,000 - $179,999	0.06134757452098537
	parasitic	income_$95,000 - $99,999	0.061347574521157286
	parasitic	income_$45,000 - $49,999	0.06134757452112326
	parasitic	income_$135,000 - $139,999	0.061347574520923244
	parasitic	income_$50,000 - $54,999	0.06134757452085174
	parasitic	income_$105,000 - $109,999	0.061347574521022706
	parasitic	income_$65,000 - $69,999	0.061347574521234766
	parasitic	income_Less than $14,999	0.06134757452128495
	parasitic	income_$55,000 - $59,999	0.061347574520944276
	parasitic	income_$85,000 - $89,999	0.061347574520901615
	parasitic	income_$140,000 - $144,999	0.06134757452101072
	parasitic	income_$150,000 - $159,999	0.061347574521033156
	parasitic	income_$225,000 - $249,999	0.061347574521008814
	parasitic	income_$90,000 - $94,999	0.06134757452145975
	parasitic	income_$180,000 - $189,999	0.061347574520978956
	parasitic	income_$200,000 - $224,999	0.061347574520995034
	parasitic	income_$75,000 - $79,999	0.06134757452107088
	parasitic	income_$250,000 or more	0.06134757452101928
	parasitic	income_$125,000 - $129,999	0.06134757452116751
	parasitic	income_$70,000 - $74,999	0.06134757452085998
	parasitic	income_$145,000 - $149,999	0.0613475745210657
	parasitic	income_$60,000 - $64,999	0.06134757452086123
	parasitic	income_$80,000 - $84,999	0.06134757452102656
	parasitic	income_$115,000 - $119,999	0.06134757452104297
	parasitic	income_$160,000 - $169,999	0.061347574521026266
	parasitic	income_$25,000 - $29,999	0.06134757452114499
	parasitic	income_$100,000 - $104,999	0.06134757452129628
	parasitic	income_$20,000 - $24,999	0.0613475745211726
	parasitic	income_$130,000 - $134,999	0.061347574521325436
	parasitic	income_$15,000 - $19,999	0.061347574520868406
	parasitic	income_$120,000 - $124,999	0.06134757452104812
	parasitic	income_$30,000 - $34,999	0.061347574520973384
	parasitic	income_$110,000 - $114,999	0.06134757452110166
	parasitic	education_High School	0.06134757452087685
	parasitic	education_Some College	0.061347574521147634
	parasitic	education_Some High School or Less	0.06134757452104063
	parasitic	education_College	0.06134757452103243
	parasitic	education_Graduate School	0.06134757452105127
	parasitic	gender_Female	0.061347574521039026
	parasitic	gender_Male	0.06134757452111451
	syphilis	income_$190,000 - $199,999	0.0
	syphilis	income_$40,000 - $44,999	0.0
	syphilis	income_$35,000 - $39,999	0.0013903613738458207
	syphilis	income_$170,000 - $179,999	0.03737533405815274
	syphilis	income_$95,000 - $99,999	2.7589605436072937e-15
	syphilis	income_$45,000 - $49,999	2.692137333737062e-13
	syphilis	income_$135,000 - $139,999	9.47462077146049e-09
	syphilis	income_$50,000 - $54,999	2.4426545125684572e-26
	syphilis	income_$105,000 - $109,999	0.06025173623779155
	syphilis	income_$65,000 - $69,999	7.893398153771067e-09
	syphilis	income_Less than $14,999	1.2550527339840086e-05
	syphilis	income_$55,000 - $59,999	4.200986745510405e-08
	syphilis	income_$85,000 - $89,999	2.7356823653932242e-11
	syphilis	income_$140,000 - $144,999	0.8855970994597019
	syphilis	income_$150,000 - $159,999	0.4142989151033776
	syphilis	income_$225,000 - $249,999	0.7911181750881104
	syphilis	income_$90,000 - $94,999	9.295930660308143e-17
	syphilis	income_$180,000 - $189,999	0.008792416124915136
	syphilis	income_$200,000 - $224,999	0.01414594076294388
	syphilis	income_$75,000 - $79,999	0.25007480695338596
	syphilis	income_$250,000 or more	0.07727511165481422
	syphilis	income_$125,000 - $129,999	7.26217220184606e-06
	syphilis	income_$70,000 - $74,999	4.460409348583514e-24
	syphilis	income_$145,000 - $149,999	1.5316342542372914e-06
	syphilis	income_$60,000 - $64,999	1.4582026312039213e-27
	syphilis	income_$80,000 - $84,999	0.13336100415192778
	syphilis	income_$115,000 - $119,999	0.0006573477103695547
	syphilis	income_$160,000 - $169,999	0.9792528410493226
	syphilis	income_$25,000 - $29,999	0.014856295904318858
	syphilis	income_$100,000 - $104,999	3.996839112430561e-10
	syphilis	income_$20,000 - $24,999	0.0016428894141898834
	syphilis	income_$130,000 - $134,999	5.831908910661992e-15
	syphilis	income_$15,000 - $19,999	1.460895233491471e-23
	syphilis	income_$120,000 - $124,999	0.5694690343633078
	syphilis	income_$30,000 - $34,999	0.00017098572947443522
	syphilis	income_$110,000 - $114,999	0.506039658140808
	syphilis	education_High School	3.569951308478299e-24
	syphilis	education_Some College	1.1175064299832247e-07
	syphilis	education_Some High School or Less	0.6164948778077923
	syphilis	education_College	7.490794533107338e-10
	syphilis	education_Graduate School	2.8317910132090695e-29
	syphilis	gender_Female	0.9944069793533978
	syphilis	gender_Male	8.619263573378454e-269
	trich	income_$190,000 - $199,999	0.14927516708701502
	trich	income_$40,000 - $44,999	0.14927516708701055
	trich	income_$35,000 - $39,999	0.14927516708697763
	trich	income_$170,000 - $179,999	0.1492751670869322
	trich	income_$95,000 - $99,999	0.14927516708736152
	trich	income_$45,000 - $49,999	0.14927516708736413
	trich	income_$135,000 - $139,999	0.14927516708685984
	trich	income_$50,000 - $54,999	0.1492751670866872
	trich	income_$105,000 - $109,999	0.14927516708710434
	trich	income_$65,000 - $69,999	0.14927516708749722
	trich	income_Less than $14,999	0.14927516708771857
	trich	income_$55,000 - $59,999	0.1492751670869054
	trich	income_$85,000 - $89,999	0.1492751670867166
	trich	income_$140,000 - $144,999	0.14927516708698124
	trich	income_$150,000 - $159,999	0.14927516708702696